@model IEnumerable<phamtungson_2210900122_K22CNT1.Models.san_pham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_sp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loai_sp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioi_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_sp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia_ban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loai_sp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gioi_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_sp }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_sp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_sp })
        </td>
    </tr>
}

</table>
